# Ignore dataset folders and environments
__pycache__/
*.pyc
.ipynb_checkpoints/
venv/
.env
.DS_Store
*.egg-info/
*.egg
dist/
build/
rare_species/
*.h5

# YOLO-related files
*.png
*.pt
runs/
cropped_dataset_zero_shot/
yolo_dataset/
